.PopUpStart
{
    width: fit-content;
    border-style:solid ;
    padding: 4px;
    background-color: gainsboro;
  
}

.PopUphover:hover{
    color: rgb(30, 64, 255);
    cursor: pointer;
    
}
.PopUppic1{
    float: left;
    padding-right: 3px;
    padding-top: 2px;
}





